
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    position: relative;
    top: 0px;   /* move down */
    left: 0px;  /* move right */
}
/* FULL BACKGROUND */
body {
    height: 100vh;
    background: url('images/go.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

/* LOGO */
.logo {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;
}

.logo img {
    width: 350px;
    height: 350px;
    border-radius:0px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: hsl(111, 85%, 46%); /* dark blue */
    letter-spacing: 1px;
}

.plus {
    color: lab(34.93% 54.05 38.58); /* green */
    font-weight: bold;
}

.center-content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

.center-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 
        0 0 5px hsla(236, 97%, 47%, 0.984),
        0 0 15px lch(34.73% 126.18 304.65),
        0 0 30px hsl(236, 95%, 50%);
}

.center-content p {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.center {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1px;

    width: 90%;
    margin: 10px auto; 
    margin-top: 200px; 
}
.card {
    width: 70%;
    padding: 35px;

    background: lab(78.56% -73.66 75.66);
    backdrop-filter: blur(12px);

    border-radius: 90px;

    border: 3px solid hwb(126 4% 11%);

    box-shadow: 0 10px 30px hsla(117, 94%, 46%, 0.978);

    color: white;

    text-align: left;

    transition: 0.3s ease;

    font-size: 18px;
    line-height: 1.6; /* 🔥 improves readability */
  background: lab(78.25% -76.38 75.01);
backdrop-filter: blur(10px);


}
.card:hover {
    transform: translateY(-6px);
    background: #ffffff2e;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}
.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
}
.call-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: hsl(124, 96%, 48%);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.card p {
    font-size: 18px;
    opacity: 0.9;
}
.status-card {
    position: absolute;   

    top: 2px;
    right:2px;

    width: 250px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
   
  background: rgba(20, 40, 90, 0.55);
backdrop-filter: blur(12px);

    color: white;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
}

#statusText {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0;
}

#hoursText {
    font-size: 15px;
    opacity: 20;
}
